
i.icon.ion-model-s {
  width: 24px;
  height: 24px;
  background-image: url("../img/model-s.png");
  border-radius: 3px;
  opacity: 0.5;
}
i.icon.ion-chatboxes {
  width: 24px;
  height: 24px;
  background-image: url("../img/chatboxes.png");
  border-radius: 3px;
  opacity: 0.5;
}
i.icon.ion-wrench {
  width: 24px;
  height: 24px;
  background-image: url("../img/wrench.png");
  border-radius: 3px;
  opacity: 0.5;
}
i.icon.ion-calendar {
  width: 24px;
  height: 24px;
  background-image: url("../img/calendar.png");
  border-radius: 3px;
  opacity: 0.5;
}
i.icon.ion-filing {
  width: 24px;
  height: 24px;
  background-image: url("../img/filing.png");
  border-radius: 3px;
  opacity: 0.5;
}
i.icon.ion-heart {
  width: 24px;
  height: 24px;
  background-image: url("../img/heart.png");
  border-radius: 3px;
  opacity: 0.5;
}
i.icon.heart-outline {
  width: 24px;
  height: 24px;
  background-image: url("../img/ic_favorite_border_black_24dp_2x.png");
  border-radius: 3px;
  opacity: 0.5;
}
i.icon.share {
  width: 24px;
  height: 24px;
  background-image: url("../img/ic_share_black_24dp_2x.png");
  border-radius: 3px;
  opacity: 0.5;
}
i.icon.visibility {
  width: 24px;
  height: 24px;
  background-image: url("../img/ic_visibility_black_24dp_2x.png");
  border-radius: 3px;
  opacity: 0.5;
}
.ks-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  
}

